/* produxt-grid.css */

.card {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    border-radius: 20px;
}

.top1{
    grid-area: top1;
    background: url(../../images/products/card-imagem.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.top2{
    grid-area: top2;
    background: url(../../images/products/roxo-verde-grid.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}  

.midL{
    grid-area: midL;
    background: url(../../images/products/modelo-feminino.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.midR{
    grid-area: midR;
    background: url(../../images/products/moderno-grid.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.bottomL{
    grid-area: bottomL;
    background:url(../../images/products/preto-azul-grid.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.bottomR{
    grid-area: bottomR;
    background: url(../../images/products/futurista-grid.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.grid-section{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 300px);
    grid-template-areas:
        "top1 top1 top2 top2"
        "top1 top1 midL midR"
        "bottomL bottomL midL bottomR";
    gap: 30px;
}

.top1-content{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 2;
}

.card-title{
    font-size: 1.25rem;
    font-weight: 400;
    color: #ededed;
    margin-bottom: 10px;

}

.card-subtitle{
    font-size: 1.5rem;
    font-weight: 400;
    color: #ededed;
    margin-bottom: 20px;
}

.cta-group{
    display: flex;
    gap: 10px;
}

@media (max-width: 768px) {
    .grid-section{
        grid-template-columns:  1fr 1fr;
        grid-template-rows: repeat(5,auto) ;
        grid-template-areas: 
        "top1 top1"
        "top2 top2"
        "midL midR"
        "midL bottomR"
        "bottomL bottomL";
        max-width: 100%;
        gap:0.625rem;
    }

    .top1{
        min-height: 500px;
    }

    .top2 .bottomL {
        min-height: 190px;
    }

   .midL{
        min-height: 370px;
   }


}